html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

h1#heading {
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: #084152;
    color: lightgray;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}

h2.subheading {
    text-align: center;
    vertical-align: middle;
    color: #084152;
    font-size: 3rem;
    padding-top: 15vh;
    padding-bottom: 5vh;
    scroll-margin: -20px;
}

div#header {
    color: lightgray;
    position: fixed;
    width: 100%;
    height: 4rem;
    background-color: rgba(255, 255, 255, 0.0);
    z-index: 1000;

    img#menu {
        content: url("./menu-light.svg");
        position: absolute;
        left: 20px;
        top: 15px;
        height: calc(100% - 30px);
        cursor: pointer;
    }

    img#logo {
        height: 100%;
    }

    img#src {
        content: url("./src-light.svg");
        position: absolute;
        right: 20px;
        top: 15px;
        height: calc(100% - 30px);
    }

    ul#menu-dropdown {
        position: fixed;
        left: 20px;
        top: 3rem;
        text-align: left;
        font-size: 20px;
        max-height: 0;
        transition: max-height 0.5s ease-out;
        overflow: hidden;
        list-style: none;
        padding: 0px;
        background-color: inherit;

        li {
            margin: 10px 0px;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    ul#menu-dropdown.show {
        max-height: 200px;
        transition: max-height 0.5s ease-in;
    }
}

ul#header-list {
    list-style: none;
    position: absolute;
    right: 20px;
}

ul#header-list li {
    display: inline-block;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
}

ul.list {
    display: flex;
    /* flex-direction: column; */
    list-style: none;
    text-align: center;
    vertical-align: top;
    padding-left: 0;
    flex-wrap: wrap;
}

ul.list li {
    display: flex;
    margin: 2vw;
    border: 2px solid black;
    border-radius: 20px;
    transition: background-color 200ms;
    flex: 1 0 34%;
}

ul.list li a {
    width: 100%;
    padding: 5vw;
}

ul.list li:hover {
    background-color: #eeeeee;
}

ul li strong.ul-header {
    font-size: 2rem;
}

ul li strong.ul-header a {
    font-style: normal;
}

ul li img.ul-image {
    padding-top: 1rem;
    height: 5rem;
}

div#contact {
    padding-top: 20vh;
}

@media (max-width: 800px) {
    ul.list li {
        flex: 1 0 51%;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

.img-link img {
    transition: filter 0.2s;
}

.img-link img:hover {
    filter: brightness(0.8);
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
}

.move-up-down {
    animation: MoveUpDown 1s linear infinite;
    position: absolute;
    font-style: normal;
}
  
@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
}

@keyframes dropdown {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes lheight {
    0% {
        line-height: 0px;
    }
    100% {
        line-height: normal;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
