html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

h1#heading {
    color: lightgray;
    background-image: url("bg.jpeg");
    text-align: center;
    vertical-align: middle;
    padding-top: 50vh;
    padding-bottom: 50vh;
    margin: 0;
    font-size: 5rem;
}

h2.subheading {
    text-align: center;
    vertical-align: middle;
    color: #084152;
    font-size: 3rem;
    padding-top: 15vh;
    padding-bottom: 5vh;
}

div#header {
    color: lightgray;
    position: fixed;
    width: 100%;
    height: 4rem;
    background-color: rgba(255, 255, 255, 0.0);
}

ul#header-list {
    list-style: none;
    position: absolute;
    right: 20px;
}

ul#header-list li {
    display: inline-block;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
}

ul.list {
    list-style: none;
    text-align: center;
    vertical-align: top;
    padding-left: 0;
}

ul.list li {
    display: inline-block;
    padding: 5vw;
}

ul li strong.ul-header {
    font-size: 2rem;
}

ul li strong.ul-header a {
    font-style: normal;
}

ul li img.ul-image {
    padding-top: 1rem;
    height: 5rem;
}

ul li p.ul-description {
    width: 25vw;
}

p#about-description {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (max-width: 800px) {
    ul#header-list li {
        font-size: 1rem;
    }
    ul.list li {
        display: block;
        text-align: center;
    }
    ul li p.ul-description {
        width: 100%;
    }
    div#header {
        display: none;
    }
    p#about-description {
        padding: 0;
    }
}

a {
    color: inherit;
    text-decoration: none;
    font-style: italic;
}

a:hover {
    filter: brightness(1.2);
    text-decoration: underline;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
}

.move-up-down {
    animation: MoveUpDown 1s linear infinite;
    position: absolute;
    font-style: normal;
}
  
@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
}